# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env
.env.test
.env.production
.env.local
.env.development.local

# Build files
dist
build
src/generated

# Logs
logs
*.log
server.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Service Accounts / API Keys
firebase-service-account.json
*-service-account*.json
*.pem
*.key
*.cert

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?